body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#pokeball {
  width: 20%;
  cursor: pointer;
}

@font-face {
  font-family: Pokemon;
  src: url(/font/pokemon.ttf);
}

#homeLink {
  font-family: Pokemon;
  font-weight: 1000;
  font-size: 7rem;

}

@font-face {
  font-family: RF Krabuler Regular;
  src: url(/font/rf.ttf);
}

.pokeName {
  font-size: 1.5rem;
  font-family: RF Krabuler Regular;
}

#detailPokemon {
  width: 60%;
}

#catchPhrase {
  margin-bottom: 0px;
  width: 20%;
}

#arrowIcon:hover {
  color: rgb(0, 255, 234);
  cursor: pointer;
}

#arrowIcon {
  margin-top: 30%;
}

#loading {
  width: 100%;
  height: 60%;
}

#ball {
  align-self: center;
  width: 50%;
  height: 40%;
}

#pokeCardName {
  text-align: center;
}

.pokeballImg {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}